## vim or emacs file
*.swp
*.swo
.#*
*.dat
## private file
ede-projects.el
.org-id-locations

## misc
loaddefs.el*
auto-save-list
places
.svn
.DS_Store
tramp


## directories
.cask/
backups/*
thumbs/*
oddmuse/*
eshell/*
image-dired/*
elim/*
doc/*
elpa/*
src/*
themes/*
url/*
var/*
emms/*
request/*

## exported and encrypted files
*gpg
*elc
*html
*tex
*pdf
*txt


## org stuff
.org-id-locations

## yasnippet stuff
.yas-*-snippets.el

## ignore mail/gnus cruft for those who keep mail in this directory
drafts
Mail
mail
.newsrc-dribble
.nnmail-cache
#.newsrc-dribble#
*.SCORE
marks
.session
.mc-lists.el
abbrev_defs
scratch
secret.org
.emacs.desktop*
.*~
agent/*
/.emms-history
lenage/private.el
