[submodule "lisp/vendor/yasnippets-rails"]
	path = lisp/vendor/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "lisp/vendor/yasnippets-shoulda"]
	path = lisp/vendor/yasnippets-shoulda
	url = git@github.com:lenage/yasnippets-shoulda.git
[submodule "lisp/vendor/rhtml"]
	path = lisp/vendor/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "lisp/vendor/epresent"]
	path = lisp/vendor/epresent
	url = https://github.com/technomancy/epresent.git
[submodule "lisp/vendor/revbufs"]
	path = lisp/vendor/revbufs
	url = https://github.com/emacsmirror/revbufs.git
[submodule "lisp/vendor/auto-complete"]
	path = lisp/vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
