## vim or emacs file
*.swp
*.swo
.#*
*.dat
## private file
ede-projects.el
.org-id-locations

## misc
loaddefs.el*
auto-save-list
places
custom.el
.svn
.DS_Store
tramp


## directories
backups/*
thumbs/*
oddmuse/*
eshell/*
image-dired/*
elim/*
doc/*
elpa/*
src/*
themes/*
url/*
var/*

## exported and encrypted files
*gpg
*elc
*html
*tex
*pdf
*txt


## org stuff
.org-id-locations

## ignore mail/gnus cruft for those who keep mail in this directory
drafts
Mail
mail
.newsrc-dribble
.nnmail-cache
#.newsrc-dribble#
*.SCORE
marks
.session
abbrev_defs
scratch
secret.org
.emacs.desktop*
.*~
agent/*
